@model IEnumerable<Trabalho.Models.Pivot.ConsultaPivot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Médico
            </th>
            <th>
                Medicamento
            </th>
            <th>
                Quantidade Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            float total = 0;
        }

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdeUsada)
               
            </td>
                @{total = total + item.QtdeUsada;}
        </tr>
}
    </tbody>
</table>

<h2>Total =  @total</h2>
