
<head>
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            margin: 20px;
            h1, h4

        {
            color: #007bff;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-top: 15px;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Filtrar</h1>

        <h4>Consultas</h4>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="consulta">
                    <label for="busca">Buscar Consulta por Paciente:</label>
                    <input type="text" name="busca" id="busca" value="" class="form-control" />
                    <br />
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>

</body>
