<h1> Filtrar </h1>

<h4>Consultas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="consulta">
            Buscar Consulta por Paciente: <input type="text" name="busca" value="" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </form>
    </div>
</div>